# Aiven Cloud MySQL Database Connection String (Configure in Render / .env)
DATABASE_URL="mysql://avnadmin:YOUR_AIVEN_PASSWORD@rehab-sk-faf6.g.aivencloud.com:15438/defaultdb?ssl-mode=REQUIRED"

# Server Configuration
PORT=5000
NODE_ENV=production
CORS_ORIGIN=*
JWT_SECRET=thirumala-rehab-secret-session-key-2026
